<html>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/main.css"/>
</head>

<body>
    <div class="container">
        <form action="" class="form-login">
            <div class="tela-login">
                <h2 class="label-login">Fazer login</h2>
                <input type="email" placeholder="Email" name="nome">
                <input type="password" placeholder="Senha" name="senha">
                <button type="submit" class="btn">Entrar</button>
            </div>
        </form>
    </div>
</body>
</html>